# server config
CUSTOMER_SERVER_HOST=0.0.0.0
CUSTOMER_SERVER_PORT=8080
CUSTOMER_GRPC_PORT=50051

# database config
CUSTOMER_DB_HOST=localhost
CUSTOMER_DB_PORT=3306
CUSTOMER_DB_USER=root
CUSTOMER_DB_PASSWORD=
CUSTOMER_DB_NAME=subscription-billing-sys

# logging 
LOG-LEVEL=info